section.featured-menus
	div.faeatured-card-wrapper
		img.featured-menu-image(src="dist/img/hamburger.png" alt="Hamburger menu photo, most loved")
		div.featured-menu-info
			h4.menu-name HAMBURGER
			//- Rating Stars
			include ./rating-stars.jade
			p.menu-short-info Eşsiz mozarella peyniri ve marul salatası ile hamburgeri eşsiz kılan bir menü.
		a.see-featured-menu Menüyü İncele
			img(src="dist/img/ios-ionic-right.svg")
