section.featured-menus
	div.faeatured-card-wrapper
		img.featured-menu-image(src= featuredMenu.img alt="Hamburger menu photo, most loved")
		div.featured-menu-info
			h4.menu-name= featuredMenu.name
			//- Rating Stars
			include ./rating-stars.jade
			p.menu-short-info= featuredMenu.descript
		a.see-featured-menu.waves(href="/food")= featuredMenu.buttonText
			img(src="dist/img/ios-ionic-right.svg")
