head
	meta(name="viewport" content="width=device-width, initial-scale=1.0")
	title= title
	link(rel='stylesheet', href='/dist/css/main.css')
	link(rel='stylesheet', href='https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css')