div.rating-stars-container
	span
		img(src="dist/img/star.svg", alt="Rating Point 1 checked")
	span
		img(src="dist/img/star.svg", alt="Rating Point 2 checked")
	span
		img(src="dist/img/star.svg", alt="Rating Point 3 checked")
	span
		img(src="dist/img/star.svg", alt="Rating Point 4 checked")
	span
		img(src="dist/img/star.svg", alt="Rating Point 5 checked")