div.rating-stars-container
	span
		i.icon.ion-ios-star
		//- img(src="dist/img/star.svg", alt="Rating Point 1 checked")
	span
		i.icon.ion-ios-star
		//- img(src="dist/img/star.svg", alt="Rating Point 2 checked")
	span
		i.icon.ion-ios-star
		//- img(src="dist/img/star.svg", alt="Rating Point 3 checked")
	span
		i.icon.ion-ios-star
		//- img(src="dist/img/star.svg", alt="Rating Point 4 checked")
	span
		i.icon.ion-ios-star-outline
		//- img(src="dist/img/star.svg", alt="Rating Point 5 checked")