ul#sidenav-wrapper
	li
		.user-hero-info
			.background
			a#gravatar(href="/")
				img(src="dist/img/" + user.profilePicture)
			a#name= user.name + " " + user.surname
	li
		a(href="myorders")
			i.list-icons.icon.ion-ios-restaurant
			= "My Orders"
	li
		a(href="card")
			i.list-icons.icon.ion-ios-basket
			= "Card"
	li
		a(href="#!")
			i.list-icons.icon.ion-ios-cog
			= "Settings"

div#sidenav-overlay
	