ul#sidenav-wrapper
	li
		.user-hero-info
			.background
			a#gravatar(href="/")
				img(src= user.profilePicture)
			a#name= user.name
	li
		a.waves.darken(href="myorders")
			i.list-icons.icon.ion-ios-restaurant
			= "My Orders"
	li
		a.waves.darken(href="card")
			i.list-icons.icon.ion-ios-basket
			= "Cart"
	li
		a.waves.darken(href="#!")
			i.list-icons.icon.ion-ios-cog
			= "Settings"

div#sidenav-overlay
	