extends layout

block content
  .wrapper
    //- Header
    include ./components/header.jade

    //- Featured Foods
    include ./components/featured.jade

    //- Category Main Dish
    include ./components/categories-layout.jade

  script(src="dist/js/main.js")
  script(src="dist/js/pages/index.js")