section.featured-menus {
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
	padding: 10px 0;
	height: 130px;
	background: #FFF;
	border: 1px transparent;
	border-radius: $card-border-radius;
	box-shadow: $big-card-box-shadow;

	.faeatured-card-wrapper {
		position: relative;
		flex-grow: 1;
		display: flex;
		align-items: center;
		transform: translateX(-18px);
		
		img.featured-menu-image { max-width: 150px; height: 110px; }
		a.see-featured-menu { 
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 10px;
			width: 130px;
			height: 20px;
			transform: translateY(90%);
			color: #FFF;
			font-family: Asap-SemiBold, Helvetica, sans-serif;
			font-size: 13px;
			border-radius: $card-border-radius;
			background-color: $dark-orange;
			box-shadow: $button-box-shadow $box-shadow-dark-orange;

			img {height: 150%;}
		}

		.featured-menu-info {
			flex-grow: 1;
			padding-left: 5px;
			align-self: flex-start;
	
			h4 {
				margin: 0;
				margin-bottom: 8px;
				font-family: Asap-SemiBold, Helvetica, sans-serif;
			}
	
			.menu-short-info {
				margin-bottom: 0;
				color: #212924;
				font-size: 13px;
				font-family: Asap-Regular, Helvetica, sans-serif;
				line-height: 1.5;
				margin-top: 10px;
				letter-spacing: -0.3px;
			}
		}


	}
}