@import "./font-face";
@include font-face("Asap-Regular", "../fonts/Asap/Asap-Regular");
@include font-face("Asap-SemiBold", "../fonts/Asap/Asap-SemiBold");

* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 400;
	-webkit-tap-highlight-color: transparent;
}
body {
	background-color: #fbfbfb;
	.wrapper,
	.wrapper-flex {
		display: grid;
		padding: 0 calc(#{$finger-size / 2});
		padding-bottom: 20px;
	}
	.wrapper-flex {
		display: flex;
		align-items: center;
	}
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.rating-stars-container {
	width: 70px;
	height: 10px;
	display: flex;
	justify-content: space-between;

	span { 

		i {
			display: block; 
			font-size: 12px;
			line-height: 12px;
			color: #DC8948;
		}
	}
}
.food__add-to-card,
.food__on-the-way,
.food__repeat-order,
.food__toggle-favorite {
	padding: 3px 5px;
	background: $dark-orange;
	border-color: transparent;
	border-radius: $card-border-radius;;
	box-shadow: 0 2px 5px 0 $dark-orange;

	i {
		color: white;
		font-size: 20px;
		margin: auto;
	}
}
.food__on-the-way,
.food__repeat-order,
.food__toggle-favorite {
	display: flex;
	align-items: center;
	background: rgb(25, 173, 87);
	box-shadow: 0 2px 5px 0 rgba(25, 173, 87, .5);
	font-size: 12px;
	color: white;

	span {
		margin-left: 5px;
		font-family: Asap-Regular, Helvetica, sans-serif;
	}
}
.food__repeat-order {
	background: $dark-orange;
	border-color: transparent;
	border-radius: $card-border-radius;
	box-shadow: 0 2px 5px 0 $dark-orange;
}
.food__toggle-favorite {
	box-shadow: none;
	background: transparent;
	
	i { color: $fav-icon-red }
}
.menu-category {
	margin-top: 20px;

	.category-name-heading {
		margin: 0;
		margin-bottom: 5px;
		font-size: 1em;
		font-family: Asap-SemiBold, Helvetica, sans-serif;
		color: $heading-color;
		text-transform: uppercase;
	}

	.category-short-slogan {
		display: block;
		margin-bottom: 10px;
		font-family: Asap-Regular, Helvetica, sans-serif;
		font-size: 14px;
		color: $subheading-color;
	}

	.foods-list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;

		.food-card {
			overflow: hidden;
			display: grid;
			grid-template-columns: 18px 1fr 18px;
			grid-template-rows: 50% 30% 20%; 
			height: 220px;
			background-color: #FFF;
			border-radius: $card-border-radius;
			box-shadow: $card-box-shadow;

			img.food-card__image {
				grid-column: 1 / span 3;
				grid-row: 1;
				width: 100%;
				height: 100%;
				object-fit: cover;
				box-shadow: $image-box-shadow;
			}

			.food-card__info {
				grid-column: 2;
				grid-row: 2;
				padding: 15px 0 10px 0;

				.food-card__name {
					margin: 0;
					margin-bottom: 5px;
					font-family: $heading-font-family;
					font-size: 14px;
					color: $heading-color;
				}

				.food-card__category {
					font-family: Asap-Regular, Helvetica, sans-serif;
					font-size: 12px;
					color: $green;
					text-transform: uppercase;
				}
			}
			
			.food-card--footer {
				grid-column: 1 / span 3;
				grid-row: 3;
				padding: 0 18px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-top: 1px solid rgba(151,151,151,0.15);

				.food-card__price {
					display: block;
					font-family: Asap-SemiBold, Helvetica, sans-serif;
					font-size: 14px;
					// font-weight: bold;
					color: $dark-orange;
				}
				.food__add-to-card {
					width: 30px;
					height: 30px;
				}
			}
		}
	}
}



.subpage-heading {
	font-family: Asap-SemiBold, Helvetica, sans-serif;
	font-size: 24px;
	color: $heading-color;
	margin-bottom: 5px;

	.food__toggle-favorite {
		float: right;

		i {
			color: $fav-icon-red;
		}
	}
}
#sidenav-wrapper.active {
	transform: translateX(0);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.5);
}
#sidenav-overlay.active {
	opacity: .5;
}
#sidenav-overlay {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #000;
	opacity: 0;
	z-index: 9;
	transition: all .3s ease;
}

#sidenav-wrapper {
	transform: translateX(-100%);
	position: fixed;
	width: 300px;
	height: calc(100% - 75px);
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	padding-bottom: 75px;
	background: #FFF;
	overflow-y: auto;
	will-change: transform;
	z-index: 99;
	list-style: none;
	transition: all .3s ease;
	a { 
		text-decoration: none;
		color: #000;
		font-style: normal;
	}
	i.list-icons {
		display: inline-block;
		margin-right: 24px;
		font-size: 24px;
		width: 24px;
		vertical-align: sub;
		box-sizing: border-box;
	}
	li {
		line-height: $finger-size;
		& > a {
			padding: 0 24px;
			font-family: Asap-Regular, Helvetica, sans-serif;
			display: block;
		}
	}
}

.user-hero-info {
	text-align: center;
	position: relative;
	margin-bottom: 10px;
	padding: calc(#{$finger-size / 2});
	a { 
		display: block;
		color: #FFF !important;
		font-family: Asap-Regular, Helvetica, sans-serif;
	}
	.background {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: url('https://source.unsplash.com/300x300/?food') center center;
		background-size: cover;
		z-index: -1;
		&::after {
			content: "";
			background: #000;
			opacity: 0.3;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			z-index: -1;   
		  }
	}
	#gravatar {
		margin-bottom: 10px;
		img {
			width: 84px;
			height: 84px;
			border-radius: 100%;
			box-shadow: $image-box-shadow;
		}
	}
}

.card-list {
	margin-top: 15px;
	border-radius: $card-border-radius;
	background: transparent;
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.08);
	overflow: hidden;

	.card-list-item {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-template-rows: 1fr auto;
		// grid-gap: 10px;
		padding: 15px 18px;
		background: #FFF;
		border-bottom: 1px solid rgba(151,151,151,0.21);
		align-items: center;

		.food-list__img {
			grid-column: 1;
			width: 60px;
			height: 60px;
			object-fit: cover;
			border-radius: 100%;
			box-shadow: $image-box-shadow;
		}

		.food-list__info {
			grid-column: 2;
			margin-left: 10px;
		}

		.food-list__name {
			margin: 0;
			font-family: Asap-Regular, Helvetica, sans-serif;
		}

		.food-list__price {
			font-family: Asap-SemiBold, Helvetica, sans-serif;
			font-size: 12px;
			color: #DC8948;
		}

		.food__add-to-card,
		.food__repeat-order {
			width: 30px;
			height: 30px;
			justify-self: end;
		}
		.collapsible-body {
			grid-column: 1 / span 3;

			.wrapper {
				padding: 0;
				padding-top: 15px;
				p.order__created-time,
				p.order__address {
					margin: 0;
					font-family: Asap-Regular, Helvetica, sans-serif;
					font-size: 12px;
					color: $subheading-color;
				}
			}
		}
	}
}
.collapsible-body {
	height: 0;
	transition: .3s all ease;
	overflow: hidden;
	transform: translateZ(0);
}
.collapsible-body.active {
	height: 45px;
}