header.header-with-menu,
header.header-subpage {
	height: calc(#{$finger-size} / 2);
	padding: calc(#{$finger-size} / 2) 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	#hamburger-menu,
	.favorites {
		width: $finger-size;
		height: $finger-size;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#hamburger-menu { 
		justify-content: flex-start;
		svg {
			height: 50%;
		}
	}
	
	.favorites { 
		justify-content: flex-end; 
		svg {
			height: 40%;

			path {
				fill: #DF0B0B;
			}
		}
	}
	
	.pagename {
		color: #272e2a;
		font-family: Asap-SemiBold, Helvetica, sans-serif;
		font-size: 1em;
		text-transform: uppercase;
	}

	#back-link {
		position: relative;
		display: flex;
		align-items: center;
		width: $finger-size;
		height: $finger-size;
    	margin-left: -10px;
		svg { height: 85%; }
		svg > path { fill: #FFF; }
	}
}

header.header-subpage {
	position: absolute;
	width: calc(100% - #{$finger-size});
	padding: calc(#{$finger-size} / 2);
	z-index: 9;
}