header.header-with-menu {
	height: calc(#{$finger-size} / 2);
	padding: calc(#{$finger-size} / 2);
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	#hamburger-menu,
	#favorites {
		width: $finger-size;
		height: $finger-size;
		display: flex;
		align-items: center;
		justify-content: center;

		img {width: 50%;}
	}
	#hamburger-menu { justify-content: flex-start; }
	#favorites { justify-content: flex-end; }
	.page {
		color: #272e2a;
		font-family: Asap-SemiBold, Helvetica, sans-serif;
	}
}